<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,height=device-height,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"
		<title>山东麦贝网络技术有限公司-服务&案例</title>
		<link rel="stylesheet" href="../static/css/xiaomojiang.css" />

	</head>
	<body>
		
<ul id="nav"> 
		<div class="nav-neirong">
			<img src="../static/img/logo.png">
    		<div>
    			<li><a th:href="@{/index}">首页</a></li>
            <li><a th:href="@{/service}" style="color: #036eb8;">服务&案例</a>
                <ul>
					<li><a th:href="@{/caseDemo} + '/0'">APP开发</a></li>
					<li><a th:href="@{/caseDemo} + '/1'">网站建设</a></li>
					<li><a th:href="@{/caseDemo} + '/2'">微信小程序</a></li>
					<li><a th:href="@{/caseDemo} + '/3'">解决方案</a></li>
                </ul>
            </li>
            <li><a th:href="@{/news/list}">新闻&动态</a></li>
            <li><a th:href="@{/human/list}">招贤纳士</a></li>
            <li><a th:href="@{/index/contact}">联系我们</a></li> 
    		</div>
    </div>
</ul>        

<div class="nav-yidong">
	<img src="../static/img/logo.png">
	<div id="nav2">
		<p></p>
		<p></p>
		<p></p>
	</div>
</div>
<div id="nav3">
	<div>
		<a th:href="@{/index}">首页</a>
		<a th:href="@{/service}" style="color: #036eb8;">服务&案例</a>
       
        <a th:href="@{/news/list}">新闻&动态</a>
        <a th:href="@{/human/list}">招贤纳士</a>
        <a th:href="@{/index/contact}">联系我们</a>
	</div>
</div>
<script>
	nav2.onclick=function(){
		if(nav3.style.display=="block"){
			nav3.style.display="none";
		}else{
			nav3.style.display="block";	
		}
	}
</script>

<div class="zxc"></div>

<div class="banner2"></div>

<div class="anli">
	<a th:href="@{'/caseDemo/' + ${services[0].type}}">
	<div class="anli-app">
		<img th:src="${services[0].imgLink}">
		<div>
			<h5 th:if="${services[0].type} == 0 ">APP开发</h5>
			<h5 th:if="${services[0].type} == 1 ">网站建设</h5>
			<h5 th:if="${services[0].type} == 2 ">微信小程序</h5>
			<h5 th:if="${services[0].type} == 3 ">解决方案定制</h5>
			<i></i>
			<h6 th:text="${services[0].bb}"></h6>
			<p th:text="${services[0].describe}"></p>
			<span>查看案例</span>
		</div>
		
	</div>
	</a>

	<a th:href="@{'/caseDemo/' + ${services[1].type}}">
		<div class="anli-wangzhan">
			<img th:src="${services[1].imgLink}">
			<div>
			<h5 th:if="${services[1].type} == 0 ">APP开发</h5>
			<h5 th:if="${services[1].type} == 1 ">网站建设</h5>
			<h5 th:if="${services[1].type} == 2 ">微信小程序</h5>
			<h5 th:if="${services[1].type} == 3 ">解决方案定制</h5>
			<i></i>
			<h6 th:text="${services[1].bb}"></h6>
			<p th:text="${services[1].describe}"></p>
			<span>查看案例</span>
		</div>
		
	</div>
	</a>

	<a th:href="@{'/caseDemo/' + ${services[2].type}}">
	<div class="anli-weixin">
		<img th:src="${services[2].imgLink}">
		<div>
			<h5 th:if="${services[2].type} == 0 ">APP开发</h5>
			<h5 th:if="${services[2].type} == 1 ">网站建设</h5>
			<h5 th:if="${services[2].type} == 2 ">微信小程序</h5>
			<h5 th:if="${services[2].type} == 3 ">解决方案定制</h5>
			<i></i>
			<h6 th:text="${services[2].bb}"></h6>
			<span>查看案例</span>
		</div>
	</div>
	</a>

	<a th:href="@{'/caseDemo/' + ${services[3].type}}">
	<div class="anli-fangan">
		<img th:src="${services[3].imgLink}">
		<div>
			<h5 th:if="${services[3].type} == 0 ">APP开发</h5>
			<h5 th:if="${services[3].type} == 1 ">网站建设</h5>
			<h5 th:if="${services[3].type} == 2 ">微信小程序</h5>
			<h5 th:if="${services[3].type} == 3 ">解决方案定制</h5>
			<i></i>
			<h6 th:text="${services[3].bb}"></h6>
			<span>查看案例</span>
		</div>
	</div>
	</a>	

</div>

<!--di-->
<div class="di">
	<div class="di-kuang">
		<div class="di-kuang-left">
			<div class="di-kuang-left1">
				<a th:href="@{/index}">网站首页</a>
				<a th:href="@{/service}">客户案例</a>
				<a href="3fangan.html">方案定制</a>
				<a th:href="@{/human/list}">招贤纳士</a>
				<a th:href="@{/index/contact}">联系我们</a>
			</div>
			<p>友情链接</p>
			<div class="di-kuang-left2">
				<div th:each="links : ${friends}" style="float: left">
					<a th:text="${links.title}" th:href="${links.href}"></a>
				</div>
			</div>
		</div>
		<div class="di-kuang-right">
			<h1 th:text="${companys.companyName}"></h1>
			<p th:text="${companys.address}"></p>
			<p th:text="${companys.phone}"></p>
		</div>
	</div>
	<div class="di1">
		<span>Copyright © 2019 山东麦贝 All Rights Reserved</span>
	</div>
</div>

	</body>
</html>
