<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width,height=device-height,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"
    <title>山东麦贝网络技术有限公司-案例详情</title>
    <link rel="stylesheet" href="../../static/css/xiaomojiang.css"/>

</head>
<body>

<ul id="nav">
    <div class="nav-neirong">
        <img src="../../static/img/logo.png">
        <div>
            <li><a th:href="@{/index}">首页</a></li>
            <li><a th:href="@{/service}">服务&案例</a>
                <ul>
                    <li><a th:href="@{/caseDemo} + '/0'">APP开发</a></li>
                    <li><a th:href="@{/caseDemo} + '/1'">网站建设</a></li>
                    <li><a th:href="@{/caseDemo} + '/2'">微信小程序</a></li>
                    <li><a th:href="@{/caseDemo} + '/3'">解决方案</a></li>
                </ul>
            </li>
            <li><a th:href="@{/news/list}">新闻&动态</a></li>
            <li><a th:href="@{/hunman/list}">招贤纳士</a></li>
            <li><a th:href="@{/index/contact}">联系我们</a></li>
        </div>
    </div>
</ul>

<div class="nav-yidong">
    <img src="../../static/img/logo.png">
    <div id="nav2">
        <p></p>
        <p></p>
        <p></p>
    </div>
</div>
<div id="nav3">
    <div>
        <a th:href="@{/index}">首页</a>
        <a th:href="@{/service}">服务&案例</a>
        <a th:href="@{/news/list}">新闻&动态</a>
        <a th:href="@{/hunman/list}">招贤纳士</a>
        <a th:href="@{/index/contact}">联系我们</a>
    </div>
</div>
<script>
    nav2.onclick = function () {
        if (nav3.style.display == "block") {
            nav3.style.display = "none";
        } else {
            nav3.style.display = "block";
        }
    }
</script>

<div class="zxc"></div>

<div class="banner2"></div>

<div class="xiang-bg">
    <div class="xiang">
        <div class="xiang-left">
            <div class="mianbaoxie">
                <a th:href="@{/index}">首页></a>
                <a th:href="@{/service}">服务&案例></a>
                <a th:if="${caseDemo.serviceId} == 0 " th:href="@{/caseDemo} + '/' + ${caseDemo.serviceId}">APP开发></a>
                <a th:if="${caseDemo.serviceId} == 1 " th:href="@{/caseDemo} + '/' + ${caseDemo.serviceId}">网站建设></a>
                <a th:if="${caseDemo.serviceId} == 2 " th:href="@{/caseDemo} + '/' + ${caseDemo.serviceId}">微信小程序></a>
                <a th:if="${caseDemo.serviceId} == 3 " th:href="@{/caseDemo} + '/' + ${caseDemo.serviceId}">解决方案定制></a>
                <span>详情</span>
            </div>
            <div class="xiang-nei">
                <div class="xiang-biaoti">
                    <h6 th:text="${caseDemo.title}">嗨车邮联盟</h6>
                    <p th:if="${caseDemo.serviceId} == 0 ">app开发</p>
                    <p th:if="${caseDemo.serviceId} == 1 ">网站建设</p>
                    <p th:if="${caseDemo.serviceId} == 2 ">微信小程序</p>
                    <p th:if="${caseDemo.serviceId} == 3 ">解决方案定制</p>
                </div>
                <div class="xiang-neirong">
                    <img th:src="${caseDemo.details}">
                </div>
            </div>
        </div>
        <div class="xiang-right">
            <h6>推荐案例</h6>
            <div class="nei">

                <div th:each="caseDemoLists : ${caseDemoList}">
                    <a th:href="@{'/caseDemo/detail/' + ${caseDemoLists.id}}">
                        <img th:src="${caseDemoLists.imgLink}">
                        <p th:text="${caseDemoLists.title}"></p>
                        <span th:switch="${caseDemoLists.serviceId}">
                            <span th:case="0">APP开发</span>
                            <span th:case="1">网站建设</span>
                            <span th:case="2">微信小程序</span>
                            <span th:case="3">解决方案定制</span>
					</span>
                    </a>
                </div>
            </div>
        </div>
    </div>

</div>

<!--di-->
<div class="di">
    <div class="di-kuang">
        <div class="di-kuang-left">
            <div class="di-kuang-left1">
                <a th:href="@{/index}">网站首页</a>
                <a th:href="@{/service}">客户案例</a>
                <a th:href="@{/news/list}">新闻&动态</a>
                <a th:href="@{/hunman/list}">招贤纳士</a>
                <a th:href="@{/index/contact}">联系我们</a>
            </div>
            <p>友情链接</p>
            <div class="di-kuang-left2">
                <div th:each="links : ${friends}" style="float: left">
                    <a th:text="${links.title}" th:href="${links.href}"></a>
                </div>
            </div>
        </div>
        <div class="di-kuang-right">
            <h1 th:text="${companys.companyName}"></h1>
            <p th:text="${companys.address}"></p>
            <p th:text="${companys.phone}"></p>
        </div>
    </div>
    <div class="di1">
        <span>Copyright © 2019 山东麦贝 All Rights Reserved</span>
    </div>
</div>

</body>
</html>
